#Greeting{
     font-family: "Zain", sans-serif;
    font-size: 4em;
    color:antiquewhite
}
.title{
    font-family: "Zain", sans-serif;
    font-size: 2.2em;
    color:antiquewhite
}

body{
background-color:#78939e
}

#About{
    color: antiquewhite;
}
