#Greeting{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:antiquewhite
}

body{
background-color:#708090
}

#About{
    color: antiquewhite;
}
